# When set to true, npm will ignore peer dependency conflicts and install packages regardless of peer dependency requirements.
# This is useful for avoiding installation errors caused by incompatible or missing peer dependencies, especially in legacy projects.
legacy-peer-deps=true 